:host {
  display: block;
}

.item {
  padding-left:10px;
  display: inline-flex;
  margin-top: 10px;
  padding-bottom: 10px;
  width:80%;
  border-bottom: 1px solid #CCC;
}

::slotted(img) {
  max-width: 20px;
  margin-left: 0;
  display: block;
  padding-right: 10px;
}

.left{
  float:left;
  padding-left:10px;
}
.right{
  float:right;
  padding-right:10px;
}